In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('taxi_zone_lookup.csv', nrows=100)

In [23]:
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [7]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [24]:
from sqlalchemy import create_engine

In [26]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [30]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [31]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100000)

In [32]:
df = next(df_iter)

In [14]:
len(df)

100000

In [15]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [20]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.75 s
Wall time: 10.3 s

1000

In [18]:
from time import time

In [21]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 13.115 second
inserted another chunk, took 13.009 second
inserted another chunk, took 19.079 second
inserted another chunk, took 24.439 second
inserted another chunk, took 7.892 second

StopIteration: